.login-form {
    padding: 10px;
    max-width: 50rem;
    margin:25px auto;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form form h1 {
    margin-bottom:10px;
    color:rgb(10, 11, 10);
    text-shadow: 10px 12px 18px rgba(131, 153, 151, 0.693);

  }
  .login-form form p {
    margin-bottom: 25px;
  }
  
  .login-form form label {
    margin-bottom:10px;
  }
  
  .login-form form input {
    border: 1px solid rgb(229, 126, 9);
    outline:invert;
    padding: 1.5rem 0;
    text-indent:20px;
    font-size:25px;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }

  .login-form form input::placeholder {
    font-size: 1rem;
    color: #222;
  }
  
  
  
  .login-form form button {
    outline:inherit;
    border:2px solid rgb(153, 160, 159);
    font-size: 1.2rem;
    padding: 1rem 3rem;
    margin-right: 1.5rem;
    background-color:rgb(25, 181, 25);
    color: white;
    cursor: pointer;
    border-radius: 18px;
  }
  
  .login-form form p a {
    color: rgb(30, 136, 243);
  }